name: ci

on:
  workflow_dispatch:
  push:
    branches:
      - 'master'

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      debian_version: trixie
      image_name: ghcr.io/revyos
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: linux/amd64
            arch_name: amd64
          - platform: linux/riscv64
            arch_name: riscv64

    steps:
      - name: Prepare
        run: |
          platform=${{ matrix.platform }}
          echo "PLATFORM_PAIR=${platform//\//-}" >> $GITHUB_ENV
          build_date=$(date "+%Y.%m.%d")
          echo "BUILD_DATE=${build_date}" >> $GITHUB_ENV

      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.image_name }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        id: build
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          platforms: ${{ matrix.platform }}
          build-args: |
            debian_version=${{ env.debian_version }}
          tags: |
            ${{ env.image_name }}/revyos-kernel-builder:${{ matrix.arch_name }}-${{ env.BUILD_DATE }}-${{ env.debian_version }}
